.header {
    position: relative;
    background-color: #165d93;
    height: 70px;
    text-align: center;
    padding: 5px;
}
.title {
    font-weight : bold;
    color:#fff; 
    font-size: 20px;
    display: inline;
}