.sidebar {
    position: absolute;
    background-color: #ececec;
    border-right: 1px solid #ccc;
    width:250px;
    height: 100%;
    left: 0;
    top:80px;
    padding:5px;
}
.title {
    color: red;
    font-size: 16px;
}